# Streamlit app core
streamlit==1.27.0

# Data and plotting
pandas
numpy
plotly

# For forecasting
prophet

# PDF generation
fpdf

# Streamlit widgets
streamlit-option-menu

# Extras for UI (metric cards, counters)
streamlit-extras

# Image handling
pillow